@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700;900&display=swap');
/* font-family: 'Merriweather', serif;; */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');
/* font-family: 'Inter', sans-serif; */

/* Common CSS */
* {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Merriweather', serif;
}

p,
strong,
a {
    font-family: 'Inter', sans-serif;
}

.container {
    max-width: 1320px;
    margin: 0 auto;
}

.common_header {
    color: #070211;
    font-size: 48px;
    font-weight: 900;
    padding-bottom: 10px;
}

.common_clr {
    color: #F00;
}

.common_text {
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
    padding-bottom: 10px;
}

.common_text2 {
    font-weight: 500;
    font-size: 24px;
    color: #F00;
}

/* Banner Section start */
.banner {
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../images/Banner_image.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 50px 0px;
    border-radius: 16px;
}

.banner_content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 600px;
}

.banner_content h5 {
    color: #fff;
    font-size: 32px;
    font-weight: 400;
}

.banner_content h2 {
    color: #fff;
    max-width: 632px;
    text-align: center;
    font-size: 72px;
}

/* Banner Section end */

/*  65% of section start */
.discount_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 0px;
}

.dis_p1 {
    font-size: 88px;
    font-weight: 700;
    color: red;
    padding-bottom: 48px;
}

.dis_p2 {
    font-size: 24px;
    font-weight: 500;
    color: red;
    padding-bottom: 10px;
}

.dis_p3 {
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    padding-bottom: 48px;
}

.discount_content img {
    max-width: 100%;
}

/*  65% of section end */

/* welcome section start */
.welcome_banner {
    background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../images/Vectorrr.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    border-radius: 16px;
}

.wel_contents {
    display: flex;
    padding: 0px 120px;
    height: 600px;
    justify-content: center;
    align-items: center;
}

.wel_cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 45px;
}

.wel_cont h2 {
    color: #fff;
    font-size: 64px;
    font-weight: 900;
    letter-spacing: 7.04px;
    padding-bottom: 24px;
}

.wel_cont p {
    color: rgba(255, 255, 255, 0.80);
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 24px;
}

.wel_cont a {
    color: #fff;
    text-decoration: none;
    transition: 0.4s;
}

.wel_cont a:hover {
    color: red;
}

.wel-img img {
    max-width: 100%;
}

/* welcome section end */


/* Timing section start */
.timing {
    padding: 120px 0px;
}

.timing_content {
    height: 482px;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.timing_content p {
    font-size: 32px;
    font-weight: 600;
    text-transform: capitalize;
    padding-bottom: 10px;
}

.timing_content p>span {
    color: red;
}

.timing_content .btn_join {
    margin-top: 19px;
    padding: 16px 32px;
    border: none;
    background-color: red;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    border-radius: 10px;
    transition: 0.4s;
    cursor: pointer;
}

.timing_content .btn_join:hover {
    color: #e4e4e4;
    background-color: rgb(221, 0, 0);
}

/* Timing section end */


/* coming soon start */
.coming_soon {}

.coming_soon_all_content {
    display: flex;
}

.c_s_cont1 {
    width: 33%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-right: 24px;
}

.c_s_cont1 p {
    color: red;
    font-size: 24px;
    font-weight: 500;
    padding-bottom: 10px;
}

.c_s_cont1 h3 {
    color: #070211;
    font-size: 48px;
    font-weight: 900;
    padding-bottom: 20px;
}

.c_s_cont1 .soon_text {
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
}

.c_s_cont2 {
    width: 33%;
    text-align: center;
}

.c_s_cont2 .soon_img {
    border: 10px solid red;
    height: 410px;
    width: 410px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.c_s_cont2 .soon_img img {
    max-width: 85%;
}

.c_s_cont3 {
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 25px;
}

.c_s_cont3 p {
    color: red;
    font-size: 48px;
    font-weight: 700;
    padding-bottom: 10px;
}

.c_s_cont3 img {
    max-width: 30%;
}

.c_s_cont3 .soon_text2 {
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
    padding-bottom: 30px;

}

/* coming soon end */


/* holidays sale secton start  */
.holidays {
    padding: 120px 0px;
}

.holidays_all_contents {
    display: flex;
    flex-direction: column;
}

.holidays_text_content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.holidays_text_content p {
    color: #070211;
    font-size: 24px;
    font-weight: 500;
    padding-bottom: 10px;
}

.holidays_text_content h2 {
    font-size: 72px;
    font-weight: 900
}

.holidays_text_content .holidays_2n_para {
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 500;
    padding: 15px 140px;
    text-align: center;
}

.holidays_img_content {
    position: relative;
    height: 750px;
}

.holidays_img_content .holidays_img_1 {
    position: absolute;
    right: 0;
    bottom: 225px;
}

.holidays_img_content .holidays_img_2 {
    position: absolute;
    right: 300px;
    bottom: 260px;
}

.holidays_img_content .holidays_img_3 {
    position: absolute;
    bottom: 0;
}

.holidays_img_content .holidays_img_4 {
    position: absolute;
    left: 0;
    bottom: 0px;
}

/* holidays sale secton end */

/* Portfolio section start */
.porfolio_text_content .width-75{
    max-width: 75%;
}
.porfolio_img_content{
    display: flex;
    padding: 40px 0px;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 26px;
}
.porfolio_imgs{
    max-width: 32%;
    position: relative;
}
.porfolio_imgs:hover .porfolio_imgs img{
    background-color: #F00;
}
.img_hover{
    transition: .5s;
    opacity: 0;
    position: absolute;
    top: 0%;
    left: 0%;
    transform: scale(1);
    text-align: center;
}
.img_hover i{
    color: #fff;
    cursor: pointer;
    font-size: 35px;
    width: 423px;
    height: 450px;
    border-radius: 16px;
    line-height: 450px;
    background: #07021152;
}
.porfolio_imgs:hover .img_hover{
    opacity: 1;
}
/* Portfolio section end */


/* Subscribe section start */
.subscribe{
    padding: 120px 0px;
}
.subs_content{
    background-color: rgba(255, 0, 0, 0.05);
    padding: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
}
.subs_content img{}
.subs_content p{
    text-align: center;
    padding: 30px 120px;
}
.input_btn{
    display: flex;
}
.input_btn input{
    border-radius: 50px 0px 0px 50px;
    border: none;
    width: 450px;
    height: 60px;
    padding: 12px 35px;
    outline: none;
}
.input_btn .subs_btn{
    padding: 24px 56px;
    border: none;
    background: red;
    border-radius: 0px 50px 50px 0px;
    color: #fff;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
}

/* Subscribe section end */